body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

hr {
  border: 1px dotted #A7A9AB;
  border-style: none none dotted;
}
a {
  color: #58585B;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
}
.a img {
  margin-bottom: -.2em;
  padding-right: .3em;
  padding-left: .3em;
}
  a:hover {
    color: #DF723E;
  }
a:visited{
  color: #59C0D1;
}


#wrapper {
  margin: 0 auto;
  max-width: 680px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.name {
  color: #59C0D1;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-container {
  color: #808284;
  font-size: .8em;
  line-height: .9em;
  text-transform: uppercase;
}

.contact-details {
  color: #58585B;
  margin-bottom: 2%;
  margin-top: 1.1em;
  letter-spacing: 1px;
  text-decoration: none;
}

a {
  color: #58585B;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
}
  a:hover {
    color: #DF723E;
  }

.main-title {
  color: #173C6B;
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
}

.address {
  color: #58585B;
  display: inline-block;
  font-size: .8em;
  margin-top: 1.1em;
  padding-left: .4em;
  text-transform: uppercase;
}

.article-headers {
  color: #5075A5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin-top: 3em;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.article-details {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: .5em;
}
.date {
  line-height: 2em;
  font-style: italic;
}
.main-desc {
  color: #000000;
  font-size: 1em;
  font-weight:500;
  line-height: 1.4em;
  text-align: center;
}

.article-description {
  color: #173C6B;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: .01em;
}
social-container {
  color: #808284;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.9em;
}
.social-icons {
  padding-right: 2em;
}
